<header>
  <div class="decorative-bar"></div>
  <div class="header-content">
    <div class="header-content__logo">
      <img ngSrc="/header-logo.png" alt="Logo" width="28" height="26" />
      <a routerLink="/home" routerLinkActive="active">Delicacies on the Table</a>
    </div>
    <nav class="header-content__navigation">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </nav>
    <div class="header-content__search">
      <input type="text" placeholder="Search for a recipe" />
    </div>
  </div>
</header>
