header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
}

.decorative-bar {
  height: 2rem;
  background-color: #ffdb63;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 2rem 4.8rem;
}

.header-content__logo {
  justify-self: start;
  display: flex;
  font-size: 1.6rem;
  column-gap: 0.3rem;
  padding: 0.5rem 1rem;

  img {
    display: block;
    transform: translateY(-2.4px);
    object-fit: cover;
  }

  a {
    text-decoration: none;
    color: #2c2b2b;
    font-weight: 500;
  }
  &:hover {
    background-color: #ffdb63;
    border-radius: 999px;
  }
}

.header-content__navigation {
  justify-self: center;
}

.header-content__navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 3rem;

  li {
    a {
      display: inline-block; // In order to be able to work with padding
      padding: 0.5rem 1rem;
      border-radius: 999px;
      font-weight: bold;
      text-decoration: none;
      font-size: 1.6rem;
      color: #2c2b2b;

      &:hover {
        border-radius: 1rem;
        background-color: #ffdb63;
      }
    }
  }
}

.header-content__search {
  justify-self: end;
  position: relative;

  &::before {
    content: '🔍';
    position: absolute;
    left: 1rem;
    top: 30%;
    font-size: 1rem;
  }

  input {
    background-color: #f5f2f2;
    border: none;
    border-radius: 22.5px;
    padding: 0.75rem 1rem 0.75rem 3rem;
    font-size: 1rem;
    width: 16rem;
    outline: none;
  }
}
