.hero {
  position: relative;

  img {
    position: relative;
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0; // ← top: 0, right: 0, bottom: 0, left: 0
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none; // allows to click
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    z-index: 1;
  }
}
