<footer>
  <div class="logo">
    <img ngSrc="/footer-logo.png" alt="Logo" width="50" height="47" />
    <a routerLink="/home" routerLinkActive="active">Delicacies on the Table</a>
  </div>
  <nav class="social-media-navigation">
    <p>Social media:</p>
    <ul>
      <li>
        <a href="#">
          <img ngSrc="/facebook-logo.png" alt="facebook-logo" width="50" height="50" />
        </a>
      </li>
      <li>
        <a href="#">
          <img ngSrc="/instagram-logo.png" alt="instagram-logo" width="50" height="50" />
        </a>
      </li>
      <li>
        <a href="#">
          <img ngSrc="/twitter-logo.png" alt="twitter-logo" width="50" height="50" />
        </a>
      </li>
      <li>
        <a href="#">
          <img ngSrc="/youtube-logo.png" alt="youtube-logo" width="50" height="50" />
        </a>
      </li>
    </ul>
  </nav>
</footer>
